// ===================  BUTTON =================== // 
.cus-btn {
  position: relative;
  border-radius: 1.5625vw;
  border: none;
  color: $white;
  background: $accent-1;
  padding: 0.8333333333333334vw 1.6666666666666667vw;
  transition: $transition;
  overflow: hidden;

  @include media-query (490px) {
    border-radius: 6.122vw;
    padding: 2.449vw 4.898vw;
    font-size: 12px;
  }

  span {
    position: relative;
    display: flex;

    samp {
      display: block;
      transition: all .2s ease-in-out;
      font-family: $font-sec;
      font-size: 0.9375vw;
      font-weight: 500;
      line-height: 120%;

      @include media-query (490px) {
        font-size: 3.673vw;
      }
    }

    .effect {
      position: absolute;
      left: 0px;
      top: 200%;

      @include media-query (490px) {
        font-size: 3.673vw;
      }
    }
  }

  &:hover {
    box-shadow: 0px 0px 20px 1px $accent-1;

    span {
      .text {
        transform: translate(0, -200%);
      }

      .effect {
        top: 0px;
      }
    }
  }

  &.dark {
    &:hover {
      box-shadow: 0px 0px 20px 1px $black;
    }
  }

  &.submit-button {
    border-radius: 10px;
  }

  &.form-btn {
    @include media-query(490px) {
      padding: 3.449vw 4.898vw;
    }
  }

  &.btn-sec {
    background: transparent;
    color: $accent-1;
    border: 1px solid $accent-1;
  }

  &.review-btn {
    background: $light-black;
    border-radius: 10px;
  }

  &.booking-btn {
    background: $light-black;
    border-radius: 10px;

    @include media-query(768px) {
      padding: 2.083vw;
      font-size: 2.083vw;
    }

    @include media-query(490px) {
      padding: 3.083vw;
      font-size: 3.083vw;
    }
  }
}

// ===================  PAGINATIONS =================== // 
.pagination {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  display: flex;

  #border-pagination {
    display: flex;
    gap: clamp(16px, 1.25vw, 30px);
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      display: inline;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $light-black;
        font-size: clamp(12px, 0.938vw, 24px);
        width: clamp(36px, 3.333vw, 72px);
        height: clamp(36px, 3.333vw, 72px);
        border: 2px solid $light-black;
        border-radius: clamp(8px, 0.781vw, 20px);
        float: left;
        transition: $transition;

        @include media-query(490px) {
          border: 1px solid $light-black;
        }

        svg {
          path {
            transition: $transition;
          }
        }

        &.active {
          background-color: $accent-1;
          color: $white;
          border: 2px solid $white;

          svg {
            path {
              stroke: $white;
              transition: $transition;
            }
          }
        }

        &:hover {
          background-color: $accent-1;
          color: $white;
          border: 2px solid $white;

          svg {
            path {
              stroke: $white;
              transition: $transition;
            }
          }
        }
      }
    }
  }
}


// ===================  CHECKBOX =================== //
/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #978667;
  --secondary-color: #fff;
  --primary-hover-color: #978667;
  /* checkbox */
  --checkbox-diameter: clamp(12px, 1.042vw, 26px);
  --checkbox-border-radius: clamp(2px, 0.26vw, 7px);
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: clamp(2px, 0.26vw, 7px);
  height: clamp(7px, 0.573vw, 15px);
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}


// QUANTITY BUTTONS
.quantity {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-shrink: 0;

  .number,
  .increment,
  .decrement {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: clamp(2px, 0.26vw, 8px);
    background: rgba(77, 115, 252, 0.10);
    color: $light-black;
    font-family: $font-primary;
    font-size: clamp(12px, 1.094vw, 24px);
    font-weight: 500;
    flex-shrink: 0;
    line-height: 140%;
    /* 29.4px */
    border: 1px solid $light-black;
    width: clamp(21px, 1.823vw, 42px);
    height: clamp(28px, 2.188vw, 54px);
  }

  .number {
    color: $black;
    background: transparent;
    border: 0;
  }
}